[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    htmlcov,
    venv,
    .venv,
    *.egg-info,
    build,
    dist,
    graph_builder/node_modules,
    graph_builder/dist

